        <header class="md-top-bar md-top-bar--blue" role="navigation">
            <div class="md-top-bar__container">
              <div class="md-top-bar__brand">
                <a class="md-brand" href="/">
                  <div class="md-brand__logo md-brand__logo--pad">
                    <!-- Note: use either image or icon, but not both -->
                    <!-- img src="/assets/spark-logo.svg" alt="Momentum UI" -->
                    <i class="icon icon-cisco-logo"></i>
                  </div>
                  <div class="md-brand__title">Webex</div>
                </a>
              </div>
              <nav class="md-top-bar__nav ">
                <div class="md-list md-list--horizontal" role="list">
                  <a class="md-list-item active" role="listItem" href="/rooms">Rooms</a>
                  <a class="md-list-item" role="listItem" href="/teams">Teams</a>
                  <a class="md-list-item" role="listItem" href="/message">Message</a>
                  <a class="md-list-item" role="listItem" href="/member">Member</a>
                </div>
              </nav>
              <div class="md-top-bar__right ">
                <!-- Note: conditionally show top-bar__user or top-bar__logged-out -->
                 <div class="md-top-bar__user">
                    <button type="button" md-button color="red" (click)="onLogout()" disabled="disabled">Logout</button>
                 </div>
              </div>
            </div>
          </header>
          <div id="container" style="background-color: #0E0B16" class="margin-below">
            <div id="welcome-page" style="min-height: 100%" class="ui one column padded grid">
              <div class="void row">
                <div class="no-pad void column">
                  <div class="large-margin ui center aligned container" style="color:#00A0D1">
                    <p style="font-size:larger;">Hello Folks,</p>
                    <p style="font-size:large;">This website has been created for Codefest '21</p>
                  </div>
                </div>
              </div>
            </div>
              <div class="ui stackable grid container">
                <div class="row">
                    <div class="ui center aligned five wide column">
                      <div class="ui medium image">
                        <img src="./assets/images/my-avatar.jpeg">
                      </div>
                    </div>
                  <div >
                      <p style="color:#00A0D1;font-size:large;">
                        You can navigate to various Webex features provided by this application.
                      </p>
                      <hr class="shorten">
                      <br>
                      <!--p class="margin-below small-header">
              Welcome to My Page
                      </p-->
                  </div>
                </div>
              </div>
          </div>
